{% extends "base.html" %}

{% block content %}
  <h1>Newspaper list
    <a class="btn btn-primary" href="{% url 'agency:newspaper-create' %}">Create</a>
  </h1>

  {% if newspaper_list %}
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    {% for newspaper in newspaper_list %}
    <tr>
      <td>
        <a href="{{ newspaper.get_absolute_url }}">{{ newspaper.title }}</a>
      </td>
      <td>
        {{ newspaper.content }}
      </td>
      <td>
        <a class="btn btn-secondary" href="{% url 'agency:newspaper-update' newspaper.id %}">Update</a>
      </td>
      <td>
        <a class="btn btn-danger" href="{% url 'agency:newspaper-delete' newspaper.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>Newspaper list is empty</p>
  {% endif %}
{% endblock %}
