{% extends "base.html" %}

{% block content %}
  <h1>Redactor detail info</h1>
  <h2>Username: {{ redactor.username }}
    <a href="{% url 'agency:redactor-update' redactor.id %}" class="btn btn-secondary">Update</a>
    <a href="{% url 'agency:redactor-delete' redactor.id %}" class="btn btn-danger">Delete</a>
  </h2>

  <p><strong>First name:</strong> {{ redactor.first_name }}</p>
  <p><strong>Last name:</strong> {{ redactor.last_name }}</p>
  <p><strong>Years of experience:</strong> {{ redactor.years_of_experience }}</p>

  <div class="ml-3">
    <h3>Newspapers:</h3>
      {% for newspaper in redactor.newspapers.all %}
        <ul>
          <li>
            <strong>Newspaper title:</strong> {{ newspaper.title }}
          </li>
          <li>
            <strong>Newspaper content:</strong> {{ newspaper.content }}
          </li>
        </ul>
      {% empty %}
        <p>Redactor has no assigned newspaper yet</p>
      {% endfor %}
  </div>
{% endblock %}
