{% extends "layouts/base.html" %}

{% load crispy_forms_filters %}

{% block title %} Topics list {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="page-header min-vh-70" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-center">
        <h1>Topics list
          <a class="btn btn-primary" href="{% url 'agency:topic-create' %}">Create</a>
        </h1>

          <section class="py-7">
            <div class="container">
              <div class="row justify-space-between py-2">
                <div class="col-lg-3 mx-auto">
                  <form method="get" action="" class="form-inline">
                    <div class="input-group input-group-dynamic mb-4">

                      {{ search_form|crispy }}

                      <button type="submit" class="btn btn-outline-secondary" style="border-radius: 0px 10px 10px 0px;">
                        <i class="fas fa-search"></i>
                      </button>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>

        {% if topic_list %}
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>

            {% for topic in topic_list %}
            <tr>
              <td>{{ topic.name }}</td>
              <td>
                <a class="btn btn-secondary" href="{% url 'agency:topic-update' topic.id %}">Update</a>
              </td>
              <td>
                <a class="btn btn-danger" href="{% url 'agency:topic-delete' topic.id %}">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>There are no topics now.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

